.main-body.load-hidden {
  width: .1%;
  top: -100%;
}

.project-list__project.load-hidden {
  left: 1000px;
}

.portfolio-header.load-hidden {
  top: -200px;
}

.project-description.load-hidden {
  left: -700px;
}

.flip-container.load-hidden {
  left: -700px;
}

* {
  box-sizing: border-box;
}

body,
html,
main {
  height: 100%;
  width: 100%;
}

body {
  max-width: 1500px;
  font-size: 1.1em;
  font-family: "Roboto", Arial;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  background: url("../../images/portfolio-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  top: 0;
  -webkit-transition: top 1s .3s ease-out, width .8s 1.1s ease-in;
  transition: top 1s .3s ease-out, width .8s 1.1s ease-in;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.main-body__overlay {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, transparent, rgba(2, 0, 36, 0.7));
  position: relative;
}

.portfolio-header {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  padding: 18px 70px;
  color: #f94c0c;
  font-size: 1.4em;
  letter-spacing: 2px;
  transition: top .5s ease-out;
  transition-delay: 2.3s;
}

.project-list-container {
  float: right;
  width: 40%;
  height: 100%;
}

.project-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.project-list__project {
  width: 70%;
  background: rgba(1, 1, 56, 0.7);
  border-right: 7px solid #f94c0c;
  height: 80px;
  cursor: pointer;
  color: #010138;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2em;
  font-weight: lighter;
  position: relative;
  left: 0;
  overflow: hidden;
}
.project-list__project.selected {
  border-right: 7px solid white;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  color: white;
  background: linear-gradient(to left, rgba(249, 76, 12, 0.8), transparent);
  pointer-events: none;
}
.project-list__project.selected:hover {
  background: linear-gradient(to left, rgba(249, 76, 12, 0.8), transparent);
}

.project-1 {
  transition: left .6s ease-out 2.0s, border-right .2s, -webkit-transform .2s, background .3s;
}

.project-2 {
  transition: left .6s ease-out 2.1s, border-right .2s, -webkit-transform .2s, background .3s;
}

.project-3 {
  transition: left .6s ease-out 2.2s, border-right .2s, -webkit-transform .2s, background .3s;
}

.project-4 {
  transition: left .6s ease-out 2.3s, border-right .2s, -webkit-transform .2s, background .3s;
}

.project-5 {
  transition: left .6s ease-out 2.4s, border-right .2s, -webkit-transform .2s, background .3s;
}

.project-list__project:hover {
  border-right: 7px solid white;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  color: white;
  background: #010138;
}

.project-list__project-description {
  margin: 0;
}

.selected-project-scanner {
  overflow: hidden;
  margin-left: 200px;
  width: 0;
  height: 100%;
  background: #f94c0c;
  transition: all .6s;
  margin-right: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.selected-project-scanner p {
  min-width: 400px;
  color: #010138;
  text-align: center;
  margin: 0 auto;
}

.selected-project-scanner--shown {
  width: 100%;
  margin-left: 0;
  font-weight: 900;
}

.project-description .project-description__project-title {
  font-size: 1.5em;
  margin: 20px 0 40px;
}
.project-description .project-description__project-caption {
  font-size: 1em;
  line-height: 1.7;
}
.project-description .project-description__demo-button {
  background: #f94c0c;
  transition: all .2s;
  text-decoration: none;
  color: inherit;
  padding: 20px;
  display: block;
  width: 200px;
  border-radius: 3px;
  margin: 30px auto;
  text-align: center;
}
.project-description .project-description__demo-button:hover {
  background: #cd3b05;
  transform: scale(1.05);
}

/* entire container, keeps perspective */
.project-description {
  perspective: 1500px;
  width: 45%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 100px;
  transition: left .7s ease-out 2.2s;
}

/* flip the pane when hovered */
.flip-container .flipper.flipped {
  transform: rotateY(180deg);
  transform-origin: center;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transition-delay: .2s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: auto;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 56, 0.8);
  color: white;
  padding: 35px;
  font-size: 1em;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  min-height: 250px;
  height: auto;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
  width: 100%;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
