.main-body.load-hidden {
    width: .1%;
    top: -100%;
    opacity: 0;
}

.project-list__project.load-hidden {
    left: 1000px;
}

.portfolio-header.load-hidden {
    top: -200px;
}

.project-description.load-hidden {
    left: -1000px;
}

.flip-container.load-hidden {
    left: -700px;
}

.load-hidden {
    opacity: 0;
}

.contact-faded {
    opacity: .4;
}

