// $mobileBreakpoint:

* {
    box-sizing: border-box;
}

body,
html,
main {
    height: 100%;
    width: 100%;
}

body {
    max-width: 1500px;
    font-size: 1.1em;
    font-family: "Roboto", Arial;
    margin: 0 auto;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;

    @media screen and (max-width: 500) {
        font-weight: .95em;
    }
}

main {
    background: url("../../images/portfolio-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    top: 0;
    -webkit-transition: top 1s .2s ease-out, width .65s 1.1s ease-in, opacity .9s linear .5s;
    transition: top 1s .3s ease-out, width .65s 1.1s ease-in, opacity .8s linear .6s;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}
