//start line 550

/*CAROUSEL STYLING*/

div#projects-tabs div.project-tab .carousel {
    position: relative;
    margin-top: 26px;
    height: 100%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90%;
}


.carousel-item {
    position: absolute;
    opacity: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    -ms-transition: opacity .4s;
    transition: opacity .4s;
    z-index: 10;
}

div#projects-tabs div.project-tab .carousel-open:checked + .carousel-item {
    opacity: 1;
    z-index: 100;
}


div#projects-tabs div.project-tab .carousel label.carousel-control {
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -o-transition: background .2s;
    -ms-transition: background .2s;
    transition: background .2s;
}

div#projects-tabs div.project-tab .carousel label.carousel-control::before,
div#projects-tabs div.project-tab .carousel .carousel-bullet::before {
    display: none;
}

div#projects-tabs div.project-tab .carousel label.carousel-control.next {
    background: $carousel-next-prev-background url("./misc-images/next.svg") no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
}

div#projects-tabs div.project-tab .carousel label:hover {
    background: none;
}

div#projects-tabs div.project-tab .carousel label.carousel-control.prev {
    background: $carousel-next-prev-background url("./misc-images/back.svg") no-repeat;
    background-position: 39% 50%;
    background-size: 50%;
}

div#projects-tabs div.project-tab .carousel label.carousel-control:hover {
    background-color: $carousel-next-prev-background-hover;
}


.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 1%;
}

div#projects-tabs div.project-tab .carousel #carousel-1-project-2:checked ~ .control-1,
div#projects-tabs div.project-tab .carousel #carousel-2-project-2:checked ~ .control-2,
div#projects-tabs div.project-tab .carousel #carousel-3-project-2:checked ~ .control-3,
div#projects-tabs div.project-tab .carousel #carousel-4-project-2:checked ~ .control-4,
div#projects-tabs div.project-tab .carousel #carousel-1-project-1:checked ~ .control-1,
div#projects-tabs div.project-tab .carousel #carousel-2-project-1:checked ~ .control-2,
div#projects-tabs div.project-tab .carousel #carousel-3-project-1:checked ~ .control-3,
div#projects-tabs div.project-tab .carousel #carousel-4-project-1:checked ~ .control-4,
div#projects-tabs div.project-tab .carousel #carousel-1-project-3:checked ~ .control-1,
div#projects-tabs div.project-tab .carousel #carousel-2-project-3:checked ~ .control-2,
div#projects-tabs div.project-tab .carousel #carousel-3-project-3:checked ~ .control-3,
div#projects-tabs div.project-tab .carousel #carousel-4-project-3:checked ~ .control-4,
div#projects-tabs div.project-tab .carousel #carousel-1-project-4:checked ~ .control-1,
div#projects-tabs div.project-tab .carousel #carousel-2-project-4:checked ~ .control-2,
div#projects-tabs div.project-tab .carousel #carousel-3-project-4:checked ~ .control-3,
div#projects-tabs div.project-tab .carousel #carousel-1-project-5:checked ~ .control-1,
div#projects-tabs div.project-tab .carousel #carousel-2-project-5:checked ~ .control-2,
div#projects-tabs div.project-tab .carousel #carousel-3-project-5:checked ~ .control-3,
div#projects-tabs div.project-tab .carousel #carousel-4-project-5:checked ~ .control-4,
div#projects-tabs div.project-tab .carousel #carousel-1-project-6:checked ~ .control-1,
div#projects-tabs div.project-tab .carousel #carousel-2-project-6:checked ~ .control-2,
div#projects-tabs div.project-tab .carousel #carousel-3-project-6:checked ~ .control-3,
div#projects-tabs div.project-tab .carousel #carousel-4-project-6:checked ~ .control-4,
div#projects-tabs div.project-tab .carousel #carousel-1-project-7:checked ~ .control-1,
div#projects-tabs div.project-tab .carousel #carousel-2-project-7:checked ~ .control-2,
div#projects-tabs div.project-tab .carousel #carousel-3-project-7:checked ~ .control-3,
div#projects-tabs div.project-tab .carousel #carousel-4-project-7:checked ~ .control-4
 {
    display: block;
}

div#projects-tabs div.project-tab .carousel .carousel-indicators {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 50px;
    background: $carousel-indicators;
    border-radius: $three-radius;
}

div#projects-tabs div.project-tab .carousel .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

div#projects-tabs div.project-tab .carousel .carousel-bullet {
    cursor: pointer;
    display: block;
    font-size: 35px;
    color: $primary-color;
    padding-top: 5px;
}

div#projects-tabs div.project-tab .carousel .carousel-bullet:hover {
    color: $carousel-bullet-hover;
}

#carousel-1-project-2:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-project-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3-project-2:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4-project-2:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-1-project-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-project-1:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3-project-1:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4-project-1:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-1-project-3:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-project-3:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3-project-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4-project-3:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-1-project-4:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-project-4:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3-project-4:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-1-project-5:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-project-5:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3-project-5:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4-project-5:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-1-project-6:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-project-6:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3-project-6:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4-project-6:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-1-project-7:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-project-7:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3-project-7:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4-project-7:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet    {
    // /*color: #ea521a;*/
    color: $secondary-color;
}


.carousel .project-description-container {
    padding: 5px 8px;
    text-align: left;
}


div.tab div.content .carousel .project-description-container h3 {
    font-size: 1.1em;
    margin: 3% auto 10px;
}

div.tab div.content .carousel .project-description-container h3,
div.tab div.content .carousel .project-description-container p {
    width: 80%;
}

div.tab div.content .carousel .project-description-container p {
    margin: 10px auto;
    font-size: .9em;
}

div.tab div.content .carousel .project-description-container p a {
    background: transparent url("./misc-images/github-sign.svg") no-repeat;
    background-size: 30px;
    background-position: 0% 50%;
    padding: 15px 20px 15px 40px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

div.tab div.content .carousel .project-description-container p.link-to-github {
    margin-top: 25px;
}

div.tab div.content .carousel .project-description-container p a:hover {
    // /*color: #ea521a;*/
    color: $secondary-color;
}


div.tab div.content .carousel .carousel-item img {
    width: 100%;
}

div.tab div.content .carousel .carousel-item img.calculator {
    margin: 20px auto;
    display: block;
}

div.tab div.content .carousel .project-description-container p.link-to-github:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width .5s ease, background-color .4s ease;
    -moz-transition: width .5s ease, background-color .4s ease;
    -o-transition: width .5s ease, background-color .4s ease;
    -ms-transition: width .5s ease, background-color .4s ease;
    transition: width .5s ease, background-color .4s ease;
    position: relative;
    top: 10px;
}
div.tab div.content .carousel .project-description-container p.link-to-github:hover:after {
    width: 14.5em;
    // /*background: #ea521a;*/
    background: $secondary-color;
}

