.main-body__overlay {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, transparent, rgba(2, 0, 36, 0.7));
    position: relative;

    @media screen and (max-width: 920px) {
        height: 100%;
        width: 100%;
        background: radial-gradient(circle, transparent, rgba(2, 0, 36, 0.7));
        position: relative;
        overflow: auto;
    }
}



.portfolio-header {
    margin: 20px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    padding: 18px 70px;
    // background: #010138;
    color: #f94c0c;
    font-size: 1.6em;
    letter-spacing: 2px;
    transition: top .5s ease-out, opacity .6s;
    transition-delay: 2.3s;

    .portfolio-header__title {
        margin-bottom: 10px;

        @media screen and (max-width: 920px) {
            margin-top: 30px;
            margin-bottom: 5px;
            font-size: 1.1em;
        }

        @media screen and (max-width: 500px) {
            font-size: 1em;
        }
    }

    @media screen and (max-width: 920px) {
        margin: 0;
        position: static;
        width: 100%;
        display: block;
        text-align: center;
        padding: 18px 20px;
    }
}


//photo info button

.header__photo-info-button {
  position: absolute;
  font-size: 1.7em;
  padding: 0px;
  border-radius: 50%;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 10;
  width: 35px;
  height: 35px;
  color: transparentize($secondary-color, .4);
  border: 3px solid transparentize($secondary-color, .4);
  bottom: 30px;
  left: 30px;
  -webkit-transition: color .3s 0s, border .3s 0s, left .4s 2.5s;
  transition: color .3s 0s, border .3s 0s, left .4s 2.5s;

    .fa {
      font-size: .7em;
    }


  &:hover {
    color: white;
    border: 3px solid white;
  }

  @media screen and (max-width: 920px) {
      display: none;
  }
}


.header__photo-info-button:hover + .header__photo-info-popup {
    opacity: 1;
}

.header__photo-info-button.load-hidden {
  left: -100%;
}

.header__photo-info-popup {
  position: absolute;
  opacity: 0;
  transition: all .3s;
  bottom: 25px;
  width: auto;
  background: transparentize($secondary-color, .18);
  color: white;
  font-weight: bold;
  left: 80px;
  padding: 10px;
  font-size: .8em;
  border-radius: 3px;

}


