.main-body__overlay {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, transparent, rgba(2, 0, 36, 0.7));
    position: relative;

    @media screen and (max-width: 900px) {
        height: 100%;
        width: 100%;
        background: radial-gradient(circle, transparent, rgba(2, 0, 36, 0.7));
        position: relative;
        overflow: auto;
    }
}



.portfolio-header {
    margin: 20px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    padding: 18px 70px;
    // background: #010138;
    color: #f94c0c;
    font-size: 1.5em;
    letter-spacing: 2px;
    transition: top .5s ease-out;
    transition-delay: 2.3s;

    @media screen and (max-width: 900px) {
        margin: 0;
        position: static;
        width: 100%;
        display: block;
        text-align: center;
    }
}


