.project-description {

    .project-description__project-title {
        font-size: 1.5em;
        margin: 20px 0 28px;
    }

    .project-description__project-caption {
        font-size: 1em;
        line-height: 1.6;
    }

    .project-description__demo-button {
        background: $secondary-color;
        -webkit--webkit-transition: all .2s;transition: all .2s;
        -webkit-transition: all .2s;transition: all .2s;
        text-decoration: none;
        color: inherit;
        padding: 18px;
        display: block;
        width: 200px;
        border-radius: 3px;
        margin: 30px auto 20px;
        text-align: center;
        font-weight: bold;
        font-size: 1.05em;

        &:hover {
            background: darken($secondary-color, 10%);
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }

        @media screen and (max-width: 920px) {
            padding: 16px;
        }

        @media screen and (max-width: 500px) {
            width: 190px;
        }
    }
}




//flipping

/* entire container, keeps perspective */
.project-description {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    width: 47%;
    height: auto;
    position: absolute;
    top: 33%;
    left: 7.8%;
    -webkit-transition: left .8s ease-out 1.9s, opacity 1s 2.1s;
    transition: left .8s ease-out 1.9s, opacity 1s 2.1s;
    // -webkit-transition: left .7s ease-out 1.9s;
    // transition: left .7s ease-out 1.9s, opacity .5s;
    min-width: 460px;

    @media screen and (max-width: 1100px) {
        margin-left: -33px;
        top: 29%;
    }


    @media screen and (max-width: 920px) {
        margin-left: 0;
        margin-top: 35px;
        width: 100%;
        height: auto;
        // position: static;
        position: relative;
        top: 0;
        left: 0;
        -webkit-transition: left .7s ease-out 1.9s, opacity 1s 2s;
        transition: left .7s ease-out 1.9s, opacity 1s 2s;
        min-height: 320px;
        display: block;
        min-width: 10px;
    }
}

/* flip the pane when hovered */
.flip-container .flipper.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}


/* flip speed goes here */
.flipper {
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: auto;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: rgba(1, 1, 56, 0.8);
    background: radial-gradient(rgba(1, 1, 56, 0.60), rgba(1, 1, 56, 1));
    color: white;
    // border-left: 7px solid #f94c0c;
    padding: 25px 40px;
    font-size: 1em;
    border-radius: 4px;
    min-height: 250px;
    height: auto;

    @media screen and (max-width: 920px) {
         border-radius: 0;
    }

    @media screen and (max-width: 500px) {
         padding: 25px;
         font-size: .9em;
    }
}

/* front pane, placed above back */
.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    width: 100%;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    width: 100%;
}

.side {
    box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.25);
}

.wip {
    font-size: .65em;
    // color: rgba(249, 76, 12, 0.7);
    color: transparentize($secondary-color-muted, .2);
    font-weight: bold;
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
}

.bov-link {
    text-decoration: none;
    color: $secondary-color;
    transition: all .1s;

    &:hover {
        color: lighten($secondary-color, 30%);
    }
}
