// colors
$primary-color: #010138;
$secondary-color: #f94c0c;

$hover-highlight: white;


//border radius
$three-radius: 3px;
$four-radius: 4px;

//fonts
$font-stack: 16px * 1.2 "Libre Franklin", "Hind Madurai", "Arial", Geneva, sans-serif;

//other
$max-width: 1500px;
